<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweet app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <style>
      .container {
        width: 500px;
      }
    </style>
  </head>
  <body>
  <div id="app" class="container">
    <h1 class="title">Tweet app</h1>
    <p style="margin-bottom: 20px">
      <a class="button is-info" @click="toggleShowModal">Add new tweet</a>
    </p>
    <p v-if="tweets == 0">No tweets yet...</p>
    <div v-for="tweet in tweets" class="card" style="margin-bottom:20px">
      <div class="card-content">
        <div class="content" v-model="newTweet" type="text" class="input" :class="{ 'is-danger' : inputLength }">
          {{ tweet }}
        </div>
      </div>
        <footer class="card-footer">
          <a @click="deleteTweet(tweet)" href="#" class="card-footer-item">Delete</a>
        </footer>
      </div>


      <!-- Modal -->
    <div class="modal" :class="{ 'is-active' : showModal }">
      <div class="modal-background" @click="toggleShowModal"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add new tweet</p>
          <button @click="toggleShowModal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Tweet</label>
            <div class="control">
              <textarea v-model="newTweet" class="textarea" :class="{'is-danger' : inputLength}" :disabled="loading" placeholder="Textarea"></textarea>
            </div>
          </div>
        </section>
          <footer class="modal-card-foot">
              <p style="margin-right: 20px" :class="{'has-text-danger' : inputLength }">
                  {{ characterTeller }}
              </p>
              <button class="button is-success" :class="{ 'is-loading' : loading }" :disabled="inputLength" @click="addTweet">Save tweet</button>
          </footer>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
